# Ignorar carpetas __pycache__ en cualquier parte del proyecto
__pycache__/
**/__pycache__/

# Ignorar carpeta específica
venv_noborrar/

# Ignorar archivo específico
api/models/fakenews_noborrar.joblib